{% extends 'main_layout.html' %} {% load static from staticfiles %} {% block content %}
<div class="blog-header">
    <div class="container">
        <h1 class="blog-title">The Bomb Blog</h1>
        <p class="lead blog-description">Get the inside scoop on Brittany's bomb making.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="card card-block">
                <img alt="Card image cap" class="card-img-top mx-auto" src="{{ post.image_url }}">
                <div class="card-header post-header">
                    <i aria-hidden="true" class="fa fa-user"></i> <small>Brittany {{ post.published }}</small>
                    <button class="btn btn-info pull-right {% if not request.user.is_authenticated %} disabled {% endif %}" id="like-button"><i aria-hidden="true" class="fa fa-thumbs-up" id="times-liked"> {{ post.times_favorited }}</i></button>
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text">{{ post.text }}</p>
                    {% if request.user.is_authenticated %}
                    <h3>Leave a comment</h3><input id="post-id" name="post" type="hidden" value="{{ post.pk }}">
                    <textarea class="form-control" id="comment-field" rows="5"></textarea>
                        <button class="btn btn-primary pull-right mr-1" id="comment-button" role="button">Comment</button>
                    {% else %}
                        <p><a href="/accounts/login">Login</a> or <a href="/accounts/register">Sign up</a> to leave a comment</p>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer">
                {% for comment in post.comments.all %}
                <div id="comment-card-{{ comment.pk }}" class="card">
                    <div class="card-block">
                        <h4 class="card-title">{{ comment.user.username }}</h4><small class="card-subtitle mb-2 text-muted">{{ comment.date_posted }}</small>
                        <p class="card-text">{{ comment.text }}</p>{% if request.user == comment.user %}
                        <div class="pull-right">
                            <button class="delete-comment btn btn-outline-danger btn-sm" data-comment-id="{{ comment.pk }}">Delete</button>
                            <a href={% url 'edit_comment' comment.pk %} class="btn btn-outline-info btn-sm">Edit</a>
                        </div>{% endif %}
                    </div>
                </div>{% endfor %}
            </div>
        </div><!-- /.blog-main -->
        <nav class="blog-pagination">
            {% if previous_post_id is not None %}
                <a class="btn btn-outline-primary" href={% url 'get_post' previous_post_id %}>Older</a>
            {% endif %}
            {% if next_post_id is not None %}
               <a class="btn btn-outline-info" href={% url 'get_post' next_post_id %}>Newer</a>
            {% endif %}

        </nav>
    </div><!-- /.row -->
</div>{% endblock %}