* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.39);
}

.carousel-caption > p {
    font-size: 17.5px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 10rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}



.testimonials {
    background: url('../img/testimonials.jpg')
    no-repeat center center;
    width:100%;
}
