{% extends 'main_layout.html' %}
{% load static from staticfiles %}
{% block content %}
{% include 'jumbotron.html' %}
<div id="tagline">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <p>Hit the pause button in life and take a soak in the tub with one of my handcrafted bath bombs, made with natural and pure essential oils.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto mb-4">
              <p class="display-3">The Bombs</p>
            </div>
        </div>
    </div>
</div>

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
      {% for bath_bomb in bath_bombs %}
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static '/img/bathbombs/' %}{{bath_bomb.filename}}" alt="Generic placeholder image" width="140" height="140">
          <h2>{{ bath_bomb.name }}</h2>
            <h6 class="card-subtitle mb-2 text-muted mr-auto">{{bath_bomb.get_price}}</h6>
          <p>{{bath_bomb.description}}</p>
          <p><a class="btn btn-secondary" href="#" role="button">Add to Invoice »</a></p>
        </div><!-- /.col-lg-4 -->
      {% endfor %}
      </div><!-- /.row -->
    </div>
{% include 'testimonials.html' %}
{% endblock %}