{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>After a Long Day</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">

</head>
    {% include 'navbar.html' %}
    {% include 'products_carousel.html' %}
<body>
    {% block content %}
    {% endblock %}
    {% include 'testimonials.html' %}
</body>
  <!-- FOOTER -->
      <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
         $(document).ready(function() {
          //Set the carousel options
          $('#quote-carousel').carousel({
            pause: true,
            interval: 4000,
          });
        });
    </script>
</html>