{% extends 'main_layout.html' %}
{% load static from staticfiles %}
{% block content %}
    {% if orders %}
        <div class="container">
	        <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="product-th">Bathbomb</th>
                        <th style="width:10%">Price</th>
                        <th style="width:8%">Quantity</th>
                        <th style="width:22%" class="text-center">Subtotal</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr id="order-row-{{ order.pk }}">
                        <td data-th="Bathbomb">
                            <div class="row product-description">
                                <div class="col-sm-10">
                                    <h4 class="nomargin">{{ order.bath_bomb.name }}</h4>
                                    <p>{{ order.bath_bomb.description }}</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">${{ order.bath_bomb.price }}</td>
                        <td data-th="Quantity">
                            <input type="number" id="order-{{ order.pk }}-quantity" class="form-control text-center" value="{{ order.quantity }}">
                        </td>
                        <td data-th="Subtotal" class="text-center">$<span class="order-subtotal">{{ order.get_price }}</span></td>
                        <td class="actions" data-th="">
                            <button class="btn btn-info btn-sm" data-order-id="{{ order.pk }}" id="cart-item-update-btn"><i class="fa fa-refresh"></i></button>
                            <button class="btn btn-danger btn-sm" data-order-id="{{ order.pk }}" id="cart-item-delete-btn"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong>Total $<span id="order-total">{{ total_price }}</span></strong></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    {% else %}
    <div class="container mt-2">
		<div class="col-md-6 mx-auto text-center">
			<i class="fa fa-frown-o display-4"></i>
			<h4>Your Shopping Cart is Empty</h4>
			<a href="/">Check out the bombs!</a>
		</div>
	</div>
    {% endif %}
{% endblock %}