
<!--Section: Testimonials v.3-->
<section class="section team-section text-center pb-3">

    <!--Section heading-->
    <h1 class="section-heading h1 pt-4">Bomb Love</h1>
    <!--Section description-->
    <p class="section-description">Check out what our customers are saying about our bombs.</p>

    <!--Grid row-->
    <div class="row text-center">

        {% for testimonial in testimonials %}
        <!--Grid column-->
        <div class="col-md-4 mb-r">
            
            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar">
                    <img src="http://www.logiq3.com/hs-fs/hubfs/images/New_Website_Images/culture_page/culture-teams-icon-2.png?t=1501857447710&width=279&name=culture-teams-icon-2.png" class="rounded-circle z-depth-1 img-fluid">
                </div>
                
                <!--Content-->
                <h4 class="mb-3">{{ testimonial.name }}</h4>
                <h6 class="mb-3 font-bold grey-text"></h6>
                <p><i class="fa fa-quote-left"></i> {{ testimonial.feedback }} </p>

            </div>
        </div>
        <!--Grid column-->
        {% endfor %}
        
    </div>
    <!--Grid row-->

</section>
<!--Section: Testimonials v.3-->
            