<div class="container-fluid testimonials">
  <div class="row">
    <div class="col-md-6 offset-md-4 mt-2">
       <i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
       <p class="display-4">Our Testimonials</p>
    </div>
  </div>
  <div class="row carousel-row">
    <div class="col-md-8 mx-auto">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item">
          <div>
            <div class="carousel-caption d-md-block">
              <h5>The colors and smells are to die for! Brittany puts so much love into each bomb.</h5>
              <blockquote>-Kate B.</blockquote>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div>
            <div class="carousel-caption d-md-block">
              <h5>These bombs are the bomb!</h5>
              <blockquote>-Shannon W.</blockquote>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <div>
            <div class="carousel-caption d-md-block">
              <h5>These bombs are the bomb!</h5>
              <blockquote>-Shannon W.</blockquote>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left fa-2x fa-inverse" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right fa-2x fa-inverse" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
  </div>
</div>
